<br/>
<button class="btn btn-info" style="float: right;" routerLink="/">Go Back</button>
<br/>
<div class="row">
    <h3>Edit Employee</h3>
    <div class = "col-md-4">
        
    </div>
    <div class = "col-md-4">
        <form [formGroup] = "employeeForm" (ngSubmit)="formSubmitUpdate()">
            <div class="form-group">
                <label>Enter name:</label>
                <input type="text" formControlName="name" name="name" class="form-control" placeholder="Enter name"/>
                <p style="color: red;" *ngIf="employeeForm.controls.name.valid == 'INVALID' && employeeForm.controls.name.touched"> this field is required</p> 
            </div>

            <div class="form-group">
                <label>Enter name:</label>
                <input type=email formControlName="email" name="email" class="form-control" placeholder="Enter email" />
                <p style="color: red;" *ngIf="employeeForm.controls.email.valid == 'INVALID' && employeeForm.controls.email.touched"> this field is required</p> 
            </div>

            <div class="form-group">
                <button class="btn btn-primary" [disabled] = "employeeForm.status == 'INVALID'" type="submit">Edit</button> 
            </div>
        </form>
    </div>
    <div class = "col-md-4">
        
    </div>
</div>